ad          = "cBrC:AP-HYDERABAD-1-AD-1"
compartment = "ocid1.tenancy.oc1..XXX"

hostname = "free1"

vcn_id    = "ocid1.vcn.oc1.ap-XXX.XXX"
subnet_id = "ocid1.subnet.oc1.ap-XXX.XXX"

image_os = "ubuntu"
image_id = "ocid1.image.oc1.ap-XXX.XXX"

shape  = "VM.Standard.E2.1.Micro"
flex_memory_in_gbs = 0
flex_ocpus = 0

# shape = "VM.Standard.A1.Flex"
# flex_memory_in_gbs = 24
# flex_ocpus = 4

ydns_host = "XXX.ydns.eu"
njalla_domain = "XXXX"
njalla_domain_id = "<id>"
